<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/loginsignup.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap" rel="stylesheet">
    <title>Üye Ol</title>
</head>
<body>
    <header>
        <a href="/" style="text-decoration: none;">
            <h1>ShoppinG</h1></a>
    </header>
    <section>
        <div class="sign-container">
            <div class="input-container">
                <input type="text" placeholder="İsim Giriniz" id="nameInput" >
                <input type="text" placeholder="Soyisim Giriniz" id="surnameInput">
                <input type="text" placeholder="Telefon Numarası Giriniz" id="phoneInput">
                <input type="text" placeholder="Adresinizi Giriniz" id="addressInput">
                <input type="text" placeholder="Email Adresinizi Giriniz" id="emailInput">
                <input type="text" placeholder="Şifrenizi Giriniz" id="passwordInput" >
                <br>
                <button type="submit" onclick="post()"> Kayıt Ol </button>
                <a href="Loginpage" style="margin-left: 45%; text-decoration: none;">Giriş Yap</a>
            </div>
        </div>
    </section>
    <footer>

    </footer>
    <script src="~/js/SignUp.js"></script>
</body>
</html>