<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/adminstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap" rel="stylesheet">
    <title>Ürünler</title>
</head>
<body>
    <header>
        <label class="header-container">
            <a href="/"><h1>ShoppinG</h1></a> <br><br>
            <a href="Addproduct" class="btn">Ürün Ekleme</a>
            <a href="Customer" class="btn">Müşteriler</a>
        </label>
    </header>   
    <section>
        <ul class="list">
        </ul>
    </section>
        <script src="~/js/adminProduct.js"></script>
</body>
</html>