<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/loginsignup.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap" rel="stylesheet">
    <title>Giriş Yap</title>
</head>
<body>
    <a href="/" style="text-decoration: none;">
        <h1>ShoppinG</h1></a>
    <div class="login-container">
        <div class="input-container">
            <br><br><br>
            <input type="text" placeholder="Email Adresinizi Giriniz" id="emailInput" >
            <input type="text" placeholder="Şifrenizi Giriniz" id="passwordInput" >
            <br><br>
            <button type="submit" id="btn" onclick="getItems()"> Giriş Yap </button>
            <a href="Signuppage" style="margin-left: 45%; text-decoration: none;">Üye Ol</a>
        </div>
    </div>
    <script src="~/js/loginpage.js"></script>
</body>
</html>